.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    width: 100%;
    max-width: 220px;
}
.card .avatar{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 15px;
}
.card .avatar img{
    border-radius: 50%;
}