<div class="card">
  <div class="avatar">
    <img src="https://via.placeholder.com/450" alt="">
  </div>
  <div class="card-content">
    <div class="username">
      <h2>HenryGBC</h2>
      <h4>Henry Bravo</h4>
      <p>Full Stack Developer @Backstartup | Code Passion</p>
    </div>
    <div class="skills">
      <ul>
        <li><strong>Public Repos</strong>: <span>58</span></li>
        <li><strong>Public Gists</strong>: <span>10</span></li>
        <li><strong>Followers</strong>: <span>17</span></li>
        <li><strong>Following</strong>: <span>20</span></li>
      </ul>
    </div>
  </div>
</div>